.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 80px;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 32px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
